In [1]:
import pandas as pd
import numpy as np

In [3]:
covid_df = pd.read_csv('./dataset/us-counties.csv')

In [4]:
covid_df

               date      county       state     fips  cases  deaths
0        2020-01-21   Snohomish  Washington  53061.0      1     0.0
1        2020-01-22   Snohomish  Washington  53061.0      1     0.0
2        2020-01-23   Snohomish  Washington  53061.0      1     0.0
3        2020-01-24        Cook    Illinois  17031.0      1     0.0
4        2020-01-24   Snohomish  Washington  53061.0      1     0.0
...             ...         ...         ...      ...    ...     ...
2502827  2022-05-13  Sweetwater     Wyoming  56037.0  11088   126.0
2502828  2022-05-13       Teton     Wyoming  56039.0  10074    16.0
2502829  2022-05-13       Uinta     Wyoming  56041.0   5643    39.0
2502830  2022-05-13    Washakie     Wyoming  56043.0   2358    44.0
2502831  2022-05-13      Weston     Wyoming  56045.0   1588    18.0

[2502832 rows x 6 columns]

In [5]:
covid_df.dropna(inplace=True)
covid_df['fips'] = covid_df['fips'].astype(int)
covid_df

               date      county       state   fips  cases  deaths
0        2020-01-21   Snohomish  Washington  53061      1     0.0
1        2020-01-22   Snohomish  Washington  53061      1     0.0
2        2020-01-23   Snohomish  Washington  53061      1     0.0
3        2020-01-24        Cook    Illinois  17031      1     0.0
4        2020-01-24   Snohomish  Washington  53061      1     0.0
...             ...         ...         ...    ...    ...     ...
2502827  2022-05-13  Sweetwater     Wyoming  56037  11088   126.0
2502828  2022-05-13       Teton     Wyoming  56039  10074    16.0
2502829  2022-05-13       Uinta     Wyoming  56041   5643    39.0
2502830  2022-05-13    Washakie     Wyoming  56043   2358    44.0
2502831  2022-05-13      Weston     Wyoming  56045   1588    18.0

[2421549 rows x 6 columns]

In [6]:
covid_df['STATEFP'] = covid_df['fips'].astype(str).str[:2]
covid_df['COUNTYFP'] = covid_df['fips'].astype(str).str[2:5]
covid_df

,date,county,state,fips,cases,deaths,STATEFP,COUNTYFP
0,2020-01-21,Snohomish,Washington,53061,1,0.0,53,061
1,2020-01-22,Snohomish,Washington,53061,1,0.0,53,061
2,2020-01-23,Snohomish,Washington,53061,1,0.0,53,061
3,2020-01-24,Cook,Illinois,17031,1,0.0,17,031
4,2020-01-24,Snohomish,Washington,53061,1,0.0,53,061
...,...,...,...,...,...,...,...,...
2502827,2022-05-13,Sweetwater,Wyoming,56037,11088,126.0,56,037
2502828,2022-05-13,Teton,Wyoming,56039,10074,16.0,56,039
2502829,2022-05-13,Uinta,Wyoming,56041,5643,39.0,56,041
2502830,2022-05-13,Washakie,Wyoming,56043,2358,44.0,56,043
2502831,2022-05-13,Weston,Wyoming,56045,1588,18.0,56,045

In [7]:
covid_df['date'] = pd.to_datetime(covid_df['date'])
covid_df['WEEK'] = covid_df['date'].dt.weekofyear
covid_df['YEAR'] = covid_df['date'].dt.year

C:\Users\bianh\AppData\Local\Temp\ipykernel_32064\1961689190.py:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  covid_df['WEEK'] = covid_df['date'].dt.weekofyear

In [9]:
covid_df

,date,county,state,fips,cases,deaths,STATEFP,COUNTYFP,WEEK,YEAR
0,2020-01-21,Snohomish,Washington,53061,1,0.0,53,061,4,2020
1,2020-01-22,Snohomish,Washington,53061,1,0.0,53,061,4,2020
2,2020-01-23,Snohomish,Washington,53061,1,0.0,53,061,4,2020
3,2020-01-24,Cook,Illinois,17031,1,0.0,17,031,4,2020
4,2020-01-24,Snohomish,Washington,53061,1,0.0,53,061,4,2020
...,...,...,...,...,...,...,...,...,...,...
2502827,2022-05-13,Sweetwater,Wyoming,56037,11088,126.0,56,037,19,2022
2502828,2022-05-13,Teton,Wyoming,56039,10074,16.0,56,039,19,2022
2502829,2022-05-13,Uinta,Wyoming,56041,5643,39.0,56,041,19,2022
2502830,2022-05-13,Washakie,Wyoming,56043,2358,44.0,56,043,19,2022
2502831,2022-05-13,Weston,Wyoming,56045,1588,18.0,56,045,19,2022